.navbar {
  display: flex;
  flex-direction: row;
  margin: 5px 50px 1px 50px;
  padding-left: 8rem;
  gap: 35rem;
  align-items: center;
}

.navbaricons {
  display: flex;
  align-items: center;
}
.navbaricons-img{
  @media (min-width:80px) {
    max-width: 80px;
    max-height: 40px;
  }
  @media screen and (max-width: 600px){
    
  }
}
/* .navbar-serchicons {
  margin-top: -1.5rem;
  margin-left: 7rem;
} */

/* .navbaricons img {  */
/* Small devices such as large phones (640px and up) */
/* @media (min-width: 48em) {
    width: 80px;
    height: 40px;
  } */
/* Medium devices such as tablets (768px and up) */
/* @media (min-width: 48em) {
    width: 80px;
    height: 40px;
  } */

/* Large devices such as laptops (1024px and up) */
/* @media (min-width: 64em) {
    width: 180px;
    height: 240px;
  } */

/* Largest devices such as desktops (1280px and up) */
/* @media (min-width: 80em) {
    width: 80px;
    height: 40px;
  }
} */

.navbar-ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

/* searchbar */

.search-bar{
  border-radius: 5px;
display: flex;


}


.search-input {
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 5px;
flex: 1;

}

.search-button {
  /* padding: 10px 20px; */
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;

 
}

.search-button:hover {
  background-color: #0056b3;
}

.search-icon {
flex-grow: 1;

}